<!DOCTYPE html>
<html lang="ja">
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div role="main">
        <div class="body"></div>
        <div class="grad"></div>
        <div class="header">
            <div>Please enter</br>your birthday.</div>
        </div>
        <br>
        <div class="submit">
            <form action="https://imaginaryuniverse.herokuapp.com/" method="POST">
                <input type="number" placeholder="1115" name="num">
                <input type="submit" name ="submit" value="push">
            </form>
        </div>  
    </div>
</body>
</html>
